<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Project</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Restaurant Project</h1>
        <div class="buttons">
            <br>
            <a href="api/restaurant/restaurants_home" class="register">Restaurant</a>
            <br/>
            <a href="/customer" class="register">Customer</a>
        </div>
    </div>
</body>
</html>
