<!-- restaurant_registration.html -->
<!DOCTYPE html>
<html lang="en">
{% load rest_framework %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Registration</title>
</head>
<body>
    <h1>Restaurant Registration</h1>
    <form action="{% url 'restaurants-register'%}" method="post">
        {% csrf_token %}
        {% render_form serializers %}
        {% for cuisine in cuisines %}
            <label>
                <input type="checkbox" name="cuisines" value="{{ cuisine.id }}">
                {{ cuisine.name }}
            </label><br>
        {% endfor %}
        <label for="new_cuisine">New Cuisine:</label>
        <input type="text" name="new_cuisine" id="new_cuisine">
        <button type="submit">Register</button>
    </form>
</body>
</html>
